.main-container {
  background-color: rgb(221, 221, 54);
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.traffic-light {
  background-color: lightblue;
  width: 100px;
  padding: 40px;
}

.red-light,
.green-light,
.yellow-light {
  width: 100px;
  height: 300px;
  border-radius: 50%;
  padding: 5px;
}

.red-light.active {
  background-color: red;
}

.yellow-light.active {
  background-color: yellow;
}

.green-light.active {
  background-color: green;
}

.the-buttons {
  margin-top: 20px;
}

.the-buttons button {
  border: none;
  background-color: lightgray;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
}

.the-buttons button:hover {
  background-color: gray;
  color: white;
}

.functions-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}